<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net40" />
  <package id="cef.redist.x64" version="3.2883.1552" targetFramework="net40" />
  <package id="cef.redist.x86" version="3.2883.1552" targetFramework="net40" />
  <package id="CefSharp.Common" version="55.0.0" targetFramework="net40" />
  <package id="CefSharp.WinForms" version="55.0.0" targetFramework="net40" />
  <package id="DynamicLanguageRuntime" version="1.1.2" targetFramework="net40" />
  <package id="Google.Apis" version="1.10.0" targetFramework="net40" />
  <package id="Google.Apis.Auth" version="1.10.0" targetFramework="net40" />
  <package id="Google.Apis.CloudSpeechAPI.v1beta1" version="1.16.0.607" targetFramework="net40" />
  <package id="Google.Apis.Core" version="1.10.0" targetFramework="net40" />
  <package id="IronPython" version="2.7.7" targetFramework="net40" />
  <package id="log4net" version="2.0.3" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net40" />
</packages>