/**
 * Linkedin button on profiles
 background-color: #FA6039;
 **/
 
.highlightCM { 

/* background-color: yellow  */
    background-color: #fff34d;
    -moz-border-radius: 5px; /* FF1+ */
    -webkit-border-radius: 5px; /* Saf3-4 */
    border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
 padding:1px 4px;
    margin:0 -4px;
}

.highlight { background-color: yellow }
 
.button-primary img {
    width: 20px;
    display: inline-block;
    vertical-align: text-top;
    position: relative;
    top: 0px;
    left: 0px;
    margin: -2px 5px 0px -6px;
}
/*
.eh_linkedin_button {
  display: inline-block;
  vertical-align: middle;
   color: #fff;
  font-weight: bold;
  font-size: 12px;
  background-color: #287bbc;
  background-image: -webkit-linear-gradient(top, #C95032 100%,#287bbc 100%);
  background-image: -moz-linear-gradient(top, #287bbc 100%,#C95032 100%);
  background-image: -o-linear-gradient(top, #287bbc 100%,#C95032 100%);
  background-image: linear-gradient(top, #287bbc 100%,#C95032 100%);
  border: 1px solid #AC3F23;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 31px;
  padding: 0 13px;
  line-height: 30px;
  text-shadow: rgba(0, 0, 0, 0.34902) 0px 1px 1px;
}

.eh_linkedin_button_small {
  height: 26px;
  padding: 0 10px;
  line-height: 24px;
}

.eh_linkedin_button:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  background-color: #e86240;
  background-image: -webkit-linear-gradient(top, #e86240 0%,#B84123 100%);
  background-image: -moz-linear-gradient(top, #e86240 0%,#B84123 100%);
  background-image: -o-linear-gradient(top, #e86240 0%,#B84123 100%);
  background-image: linear-gradient(top, #e86240 0%,#B84123 100%);
}

.eh_linkedin_button:focus, .eh_linkedin_button:active {
  outline: none;
}

.eh_linkedin_button:disabled {
  opacity: 0.5;
}

.eh_linkedin_button img {
  width: 12px;
  display: inline-block;
  margin: 0 5px 0 0;
  vertical-align: text-top;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
}
*/
.eh_linked_connected {
  margin: 0 0 0 5px;
}


/**
 * Linkedin buttons position fix
 **/

.profile-actions .button-group-primary,
.profile-actions .button-group-secondary,
.profile-actions, .button-primary,
.profile-actions, .button-secondary {
  top: 0 !important;
  margin-top: 0 !important;
}
